%h1 Meus Documentos

%table
  %thead
    %tr
      %th Usuário
      %th Status
      %th Arquivo
      %th Data de Criação
      %th{colspan: 99}
        Ações
  %tbody
    - @documents.each do |document|
      %tr
        %td= document.user.try(:email)
        %td= document.status
        %td= link_to 'Download', document.file
        %td= document.created_at
        %td= link_to 'Show', document

%br

= link_to 'New Document', new_document_path
